.memorymap3 {
  flex: 1;
  position: relative;
  cursor: pointer;
}
.memories4 {
  color: var(--color-black);
}
.about-us3,
.memories4 {
  flex: 1;
  position: relative;
}
.memorymap-container {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 512px);
  width: 1024px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-119xl);
  z-index: 0;
}
.navigation-bar3 {
  align-self: stretch;
  background-color: var(--color-gray-200);
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.enschede-container {
  width: 261px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pic1-icon2 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 446px;
  height: 476px;
  object-fit: cover;
}
.stan-schrama-gxf1qdn056s-unspl-icon {
  position: relative;
  width: 0;
  height: 0;
  object-fit: cover;
}
.frame8,
.frame9 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.frame9 {
  align-self: stretch;
  height: 476px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame8 {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-26xl);
}
.pic3-icon,
.pic5-icon1 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 484px;
  flex-shrink: 0;
  object-fit: cover;
}
.pic5-icon1 {
  height: 662px;
}
.frame12 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-84xl);
}
.pic4-icon,
.pic6-icon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 670px;
  flex-shrink: 0;
  object-fit: cover;
}
.pic6-icon {
  height: 496px;
}
.frame11,
.frame13 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame13 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-63xl);
}
.frame11 {
  width: 932px;
  flex-direction: row;
  gap: var(--gap-29xl);
}
.pic7-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 496px;
  object-fit: cover;
}
.frame10 {
  align-self: stretch;
  height: 1819px;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--gap-29xl);
}
.frame10,
.frame7,
.page-enschede {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame7 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-64xl);
  gap: var(--gap-26xl);
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.page-enschede {
  text-decoration: none;
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-15xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
